pkgbase = vstax
	pkgdesc = Software to fill the tax forms of the canton of Valais, Switzerland
	pkgver = 2023_1.0.7
	pkgrel = 90
	url = http://www.vs.ch/vstax
	install = vstax.install
	changelog = ChangeLog
	arch = x86_64
	license = unknown
	depends = java-runtime
	depends = shared-mime-info
	depends = desktop-file-utils
	depends = libxrender
	depends = libxtst
	depends = fontconfig
	source = https://sftp.vs.ch/vstax/2023/vstax2023_1.0.7-90_amd64.deb
	source = archlinux.patch
	sha256sums = ed4a0452a7fb5fce948cfb92e3745e2a5fa972e7e229a4e2848770ac2560719f
	sha256sums = a514c2d5495b3032ec0e16741624ec17073e1319a1dfb272193bd33ea9b40215

pkgname = vstax
